
img{
	height: 120px;
	width: 120px;
/*	display: inline-block;*/
	margin: 0 auto;
}
h1{
	text-align: center;
}
p{
	font-size: 22px;
	line-height: 150%;
}
.container{
	    margin: auto;
    width: 60%;
    border: 2px solid cadetblue;
    padding: 40px;
    margin-bottom: 20px;
}
.crystalbtn{
	display: inline-block;

}
#match, #counter{
	display: inline-block;
	padding: 20px;
	border: 2px dashed cadetblue;
	font-size: 35px;

}
#wins, #losses, #gameStatus{
	font-size: 30px;
	color: cadetblue;
}